<div class="flex flex-column align-items-center justify-content-center h-screen bg-gray-50">
    <p-card class="w-full md:w-5 lg:w-4 shadow-2 border-round-xl">
        <div class="mb-4 text-center">
            <i class="pi pi-lock text-5xl text-blue-500"></i>
            <h2 class="mt-3 text-2xl font-semibold">Set Your New Password</h2>
            <p class="text-gray-500">Enter and confirm your new password below.</p>
        </div>

        <form [formGroup]="resetForm" class="flex flex-column gap-5 mt-3">
            <div>
                <p-floatlabel>
                    <p-password id="password" formControlName="password" toggleMask="true" inputStyleClass="w-full"
                        styleClass="w-full">
                    </p-password>
                    <label for="password">New Password</label>
                </p-floatlabel>
                <app-form-error [control]="resetForm.get('password')"></app-form-error>
            </div>
            <div>
                <p-floatlabel>
                    <p-password id="confirm_password" formControlName="confirm_password" [feedback]="false"
                        toggleMask="true" inputStyleClass="w-full" styleClass="w-full">
                    </p-password>
                    <label for="confirm_password">Confirm Password</label>
                </p-floatlabel>
                 <app-form-error [form]="resetForm" errorKey="passwordsMismatch"></app-form-error>
                 <app-form-error [control]="resetForm.get('confirm_password')"></app-form-error>
            </div>
            <button pButton type="button" label="Save Password" icon="pi pi-check" class="w-full"
                (click)="onSavePassword()" [loading]="loading">
            </button>
        </form>
    </p-card>
</div>