@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: #f9fafb;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

button.p-button {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
}
